@use "./variables.scss" as *;

// put your custom CSS here!
a.contact-link .external-icon {
  display: none;
}

a.contact-link {
  display: inline-flex;
  align-items: center;
  margin-right: 24px;
}

.recent-notes .tags {
  display: none;
}

.sidebar .explorer {
  flex: 1 1 auto;
}

.sidebar .explorer .explorer-content {
  flex: 1 1 auto;
  min-height: 0;
}
